@use "variables" as *;

.form__field {
  &:not(:last-child) {
    margin-right: $space;
  }
}

.form__label {
  display: block;
  margin-bottom: $space-small;
  font-size: $font-size-small;
  font-weight: bold;
}
