@use 'variables' as *;

$select-padding: $space-small;
$select-arrow-width: 32px;

@mixin select-arrow {
  width: $select-arrow-width;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;

  color: $color-gray;
  font-size: $font-size;
  line-height: 0;

  content: "⏷";
  pointer-events: none;
}

.select {
  position: relative;

  select {
    width: 100%;
    display: block;
    padding: $select-padding;
    padding-right: $select-arrow-width;

    border: 2px solid $color-gray-lighter;

    font-size: $font-size;

    appearance: none;
    cursor: pointer;
    transition: border 0.25s ease-out;
  }
}

.select:hover {
  select {
    border: 2px solid $color-gray-light;
  }
}

.select::after {
  @include select-arrow;
}
