$color-gray-lightest: #f2f4f8;
$color-gray-lighter: #dde1e6;
$color-gray-light: #c1c7cd;
$color-gray: #878d96;
$color-gray-dark: #343a3f;
$color-gray-darker: #21272a;
$color-gray-darkest: #121619;

$color-default: $color-gray-dark;
$color-primary: #da1e28;
$color-success: #24a148;
$color-danger: #fa4d56;

$font-size: 1rem;
$font-size-small: 0.8rem;
$font-size-medium: 1.5rem;
$font-size-big: 2rem;
$font-size-large: 2.5rem;

$container-max-width: 1200px;

$space: 16px;
$space-small: 8px;
$space-medium: 24px;
$space-big: 32px;
$space-large: 48px;

$breakpoint-mobile: 900px;
