$color-gray-lightest: #f2f4f8;
$color-gray-lighter: #dde1e6;
$color-gray-light: #c1c7cd;
$color-gray: #878d96;
$color-gray-dark: #343a3f;
$color-gray-darker: #21272a;
$color-gray-darkest: #121619;

$color-primary: #da1e28;

$font-size: 1rem;
$font-size-small: 0.8rem;

$container-max-width: 1200px;

$space: 16px;
$space-small: 8px;
$space-medium: 24px;
$space-big: 32px;
$space-large: 48px;
