@use "variables" as *;

.launchesControls {
  display: flex;
  justify-content: space-between;
  margin-bottom: $space;
}

.launchesLoading,
.launchesNotFound {
  color: $color-gray;
  font-size: $font-size-medium;
  text-align: center;
}
