@use "variables" as *;
@use 'utilities';
@use "blocks/container";
@use "blocks/field";
@use "blocks/select";
@use "blocks/button";
@use 'blocks/table';
@use 'blocks/badge';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: $color-default;
}

body {
  margin: 0;
}
